Architecture.png
__pycache__
HandWrittenCharecterRecognizer.ipynb
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
emnist-balanced-train.csv
emnist-balanced-test.csv
emnist-balanced-mapping.txt
mapping.csv
